!.gitkeep
*.js
*.js.map
bundle.js.*
!src/systemjs.config.extras.js
!src/systemjs.config.js
!web-root/js/*.js
*.css
*.css.map
.idea
node_modules
jspm_packages
*.log
_test-output
_temp
/web-root/*
!/web-root/**/
/web-root/templates/*
!/web-root/index
!/web-root/*.ico