<div *ngIf="isVisible" class="status noselect">
  <div class="status-bar">
    <!-- left side block -->
    <div class="left-block">
      <span class="hints">
        <span (click)=onHintClick() class="hint" [class.active]="hintCurrentlyShowing" [class.available]="hintsRemaining>0">
          <i class="fa fa-diamond" aria-hidden="true"></i> Hint
        </span>
      </span>

      <span class="undoredo">
        <span class="undo" (click)=onUndoClick() [class.disabled]=!undoStatus><i class="fa fa-undo" aria-hidden="true"></i></span>
        <span class="redo" (click)=onRedoClick() [class.disabled]=!redoStatus><i class="fa fa-repeat" aria-hidden="true"></i></span>
      </span>
    </div>

    <!-- middle block -->
    <div class="middle-block">
      <span class="score highlight">Score:&nbsp;{{((score>0)?score:0) | intval}}</span>

      <!-- <span class="timer">
        <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="highlight">{{timer | intAsTime}}</span>
      </span> -->
    </div>

    <!-- right side block -->
    <div class="right-block">
      <span class="sound" (click)=onSoundClick()>
        <i *ngIf="soundStatus" class="fa fa-volume-up" aria-hidden="true"></i>
        <i *ngIf="!soundStatus" class="fa fa-volume-off" aria-hidden="true"></i>
      </span>

      <span class="pause" (click)=onPauseClick()>
        <i *ngIf="paused" class="fa fa-play-circle-o" aria-hidden="true"></i>
        <i *ngIf="!paused" class="fa fa-pause-circle-o" aria-hidden="true"></i>
      </span>

      <span class="restart" (click)=restart.emit(null)><i class="fa fa-close" aria-hidden="true"></i></span>
    </div>
  </div>

  <div class="debug-block" *ngIf="showDebugFields" >
    <span class="highlight" (click)=onStepClick()>
      Click to make one step: <i class="fa fa-play-circle-o" aria-hidden="true"></i>
    </span>
    <br/>
    <span class="highlight" (click)=onSolveClick()>
      Click to solve: <i class="fa fa-play-circle-o" aria-hidden="true"></i>
    </span>
  </div>
</div>
