<div class="tile-wrapper"
  [class.hidden]="!isVisible && !selected"
  [ngStyle]="{
    'left.px': left,
    'top.px': top
  }"
  >
  <div class="tile-outer"
    [class.free]="isFree && !selected"
    [class.selected]="selected"
    [ngClass]="{'shake shake-rotate shake-constant shake-slow shake-little': hasFreePair && showHints}"
    [ngStyle]="{
      'width.px': width,
      'height.px': height
    }"
  >
    <!-- <div class="tile-shadow tile-shadow1">&nbsp;</div>
    <div class="tile-shadow tile-shadow2">&nbsp;</div> -->

    <div class="tile-face" *ngIf="type"
      [ngStyle]="{
        'color': (selected?'#5C5749':type.getColor()),
        'text-shadow': '0 0 ' + width + 'px ' + type.getColor()
      }"
      [class.selected]="selected"
      [ngClass]="{'layer0': z==0, 'layer1': z==1, 'layer2': z==2, 'layer3': z==3, 'layer4': z==4, 'layer5': z>=5}"
      (click)="onClick($event)"
    >
      <div class="tile-content">
        <div class="secondary-character"
          [ngStyle]="{
            'font-size.px': fontSizeSecondary,
            'line-height.px': fontSizeSecondary-5
          }"
        >{{type.getSecondaryCharacter()}}</div>

        <div class="primary-character-wrap"
          [ngStyle] = "{
            'width.px': primaryWrapperWidth,
            'margin-left.px': -primaryWrapperLeftShift
          }">
          <span class="primary-character"
            [ngStyle]="{
              'font-size.px': fontSizePrimary,
              'line-height.px': fontSizePrimary
            }"
            [innerHTML]="type.getPrimaryCharacter()"
          ></span>
        </div>
      </div>

      <div *ngIf="debug"> <!-- if tile debug property is set, display debug info -->
        <span *ngIf="type">{{type.group}} {{type.index}}<br/></span>
        <span *ngFor="let adj of tile.adjacentL">LX{{adj.x}}Y{{adj.y}}<br/></span><span *ngFor="let adj of tile.adjacentR">RX{{adj.x}}Y{{adj.y}}<br/></span>
        {{isFree?"Free":"Locked"}}
      </div>
    </div>
  </div>
</div>
