$primary-color: black;
$secondary-color: #FFF5E1;
$tertiary-color: #76C76B;
$tertiary-color-dark: #5A9A52;

$border-color: #FFD700;

$background-gradient-start: #CD5C5C;
$background-gradient-end: #FFA07A;

$round-corner-radius: 1rem;