@import 'variables';

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0,0,0,0.6);
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

  .modal-dialog {
    padding: 20px;
    width: 60%;
    max-width: 550px;
    min-height: 200px;
    color: $secondary-color;
    border-radius: $round-corner-radius;
    border: 2px solid $border-color;
    text-align: center;
    background: linear-gradient(135deg, $background-gradient-start, $background-gradient-end); /* Softer gradient background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
    overflow: hidden;
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Arrange children in a column */
    justify-content: space-between; /* Center content vertically */
    align-items: center; /* Center content horizontally */


    .modal-content {
      border-bottom: none;
      display: flex; /* Use Flexbox */
      flex-direction: column; /* Arrange children in a column */
      justify-content: center; /* Center content vertically */
      align-items: center; /* Center content horizontally */
    }

    .modal-actions-wrapper {
      width: 100%;

      .modal-actions {
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        .btn {
          font-size: 20px;
          line-height: 28px;
          border-radius: 10px;
          cursor: pointer;
          border: 2px solid $border-color; /* Border color */
          background-color: $tertiary-color; /* Background color */
          color: $primary-color; /* Text color */
          padding: 10px 20px;
          transition: background-color 0.3s, color 0.3s;

          &:hover {
            background-color: $tertiary-color-dark; /* Slightly darker background on hover */
          }
        }
      }
    }
  }
}