.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background: rgba(0,0,0,0.6);
}

.modal-dialog {
  margin: 200px auto; /* offset from the top and centered */
  padding: 20px;
  width: 60%; /* Could be more or less, depending on screen size */
  /*border-radius: 25px;*/
  min-height: 200px;
  color: #FFE1A2;
  border-radius: 25px;
  border: 2px solid #FFE1A2;
  text-align: center;
  background-color: #5C5749;
}

.modal-content {
  border-bottom: none;
  min-height: 180px;
}

.modal-actions-wrapper {
  width: 100%;
}

.modal-actions {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-size: 20px;
  line-height: 28px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #FFE1A2;
  background-color: #FEF2C7;
  color: #5C5749;
}

.btn-default {
}

.btn-primary {
  background-color: lightgreen;
}
