@import "variables";

.game-component {
  height: 100%;
  width: 100%;

  // height: 100vh;
  // height: 100dvh;
  // width: 100vw;
  // width: 100dvw;

  display: flex;
  flex-direction: column;

  .statusfield {
    flex: 0 0 calc(3rem + env(safe-area-inset-top));
    height: calc(3rem + env(safe-area-inset-top));
    padding-top: env(safe-area-inset-top);
    width: 100%;
    background: linear-gradient(135deg, $background-gradient-start, $background-gradient-end);
    color: $tertiary-color;
  }

  .gamefield {
    position: relative;
    flex: 1;
    width: 100%;
    background-size: cover;
    background-image: url('/img/backgrounds/oriental-1.jpg')
  }
}

h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-family: "Palatino", "Garamond", "Courier new";
}
