@require 'includes/index.styl'

.tile-wrapper
  position absolute
  font-family FreeSerifNF // Custom font with mahjong tile glyphs

/* https://philipwalton.com/articles/what-no-one-told-you-about-z-index/ */

/*.tile-outer.free:hover, .tile-outer.selected {
  transform: scale(1.1,1.1);
  z-index: 500;
  opacity: .99;
}*/

.tile-outer
  position relative
  overflow hidden
  transform-origin 50% 50%
  border 2px solid gray

  .hidden
    display none

  &.free
    .tile
      cursor pointer

      &:hover
      background-color lightgray

.tile-shadow
  width 100%
  position absolute
  border 1px solid gray
  background-color lightgray
  border-radius 10%
  box-sizing border-box

  &.tile-shadow1
    top 0px
    left 0px

  &.tile-shadow2
    opacity: .99

.tile-face
  position absolute
  border-radius 10%
  cursor default

  .tile-content
    margin 5px
    padding 0px
    text-align left

    .primary-character-wrap
      /*width: 100%;*/
      text-align center

    .primary-character
      margin-top: -1px
      margin-right: 0px
      margin-bottom: 0px

    .clear
      clear both

  .layer0
    background-color: #FEF2C7;

  .layer1
    background-color: #BEDDBF;

  .layer2
    background-color: #FFE1A2;

  .layer3
    background-color: #FEF2C7;

  .layer4
    background-color: #FEF2C7;

  .layer5
    background-color: #FEAA6E;

  .selected
    background-color: #FEAA6E;
