/* small screen */
@media only screen and (max-width : 1024px) {
  .large-screen-only {
    display: none;
  }

  .timer, .score, .pause {
    margin-right: 5px;
    margin-left: 5px;
  }
}

/* large screen */
@media only screen and (min-width : 1025px) {
  .small-screen-only {
    display: none;
  }

  .timer, .score {
    margin-right: 30px;
    margin-left: 30px;
    display: inline-block;
  }

  .timer {
    min-width: 120px;
  }

  .score {
    min-width: 100px;
  }
}

.score, .timer {
  text-align: left;
}

.pause {
  float: right;
  text-align: center;
}

.status {
  position: relative;
  color: #FEF2C7;
  /*font-family: "GaramondNineSixDT-Roman", "Lato", Helvetica, Arial, sans-serif;*/
  font-family: museo-slab,Georgia,"Times New Roman",Times,serif;
  width: 100%;
  /*background-image: url('img/statusbar-bg.png');
  background-size: cover;*/
  font-size: 3vh;
  line-height: 5vh;
  text-align: center;
}

span.highlight {
  color: #FFE1A2;
  cursor: pointer;
}

.hints {
  float: left;
  margin-left: 20px;
}

.restart, .pause, .sound, .music {
  float: right;
  margin-right: 20px;
}

.sound {
  width: 18px;
  text-align: left;
}

.undoredo {
  float: right;
  margin-right: 40px;
  color: lightgreen;
}

.undo {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.redo {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.hint {
  color: red;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.hint.available {
  color: lightgreen;
}

.hint.active {
  color: orange;
}

span.disabled {
  color: gray;
}

/*.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext {
    visibility: visible;
}*/
