.status {
  position: relative;
  color: white;
  background-color:#282E34;
  /*font-family: "GaramondNineSixDT-Roman", "Lato", Helvetica, Arial, sans-serif;*/
  font-family: museo-slab,Georgia,"Times New Roman",Times,serif;
  width: 100%;
  background-image: url('img/statusbar-bg.png');
  background-size: cover;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

.hints {
  float: left;
}

.timer .score {
  margin-right: 30px;
  margin-left: 30px;
}

.undoredo {
  float: right;
  margin-right: 20px;
  margin-left: 20px;
}

.sound {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  width: 20px;
  text-align: left;
  cursor: pointer;
}

.restart {
  line-height: 30px;
  margin-top: 7px;
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 40%;
  border: 3px solid orange;
  color: orange;
  background-color: yellow;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.hint {
  background-color: grey;
  color: green;
  padding: 2px;
  border: none;

  min-width: 30px;
  min-height: 30px;
  margin-top: 7px;
  line-height: 1px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: top;
  cursor: pointer;
}

.hint.available {
  background-color: yellow;
  color: orange;
}

.hint.active {
  background-color: red;
  color: pink;
}

.undo {
  cursor: pointer;
}

.redo {
  cursor: pointer;
}

span.disabled {
  color: gray;
}
