<div class="tile-outer"
  [class.hidden]="!active && !_selected"
  [ngStyle]="{
    'left.px': x*_elementPixelWidth+z*shiftX,
    'top.px': y*_elementPixelHeight-z*shiftY,
    'width.px': _elementPixelWidth*2,
    'height.px': _elementPixelHeight*2
   }"
>
 <!-- Width and height adjusted to account for borders, i.e. border width * 2 subtracted -->
  <div class="tile-shadow tile-shadow1"
    [ngStyle]="{
        'width.px': _elementPixelWidth*2 - 2,
        'height.px': _elementPixelHeight*2 - 2
      }">&nbsp;</div>
  <div class="tile-shadow tile-shadow2"
    [ngStyle]="{
      'top.px': -shiftX/2,
      'left.px': shiftY/2,
      'width.px': _elementPixelWidth*2 - 2,
      'height.px': _elementPixelHeight*2 - 2
    }">&nbsp;</div>

  <div class="tile" *ngIf="_type"
    [ngStyle]="{
      'top.px': -shiftX,
      'left.px': shiftY,
      'width.px': _elementPixelWidth*2 - 4,
      'height.px': _elementPixelHeight*2 - 4,
      'color': _type.getColor()
    }"
    [class.selected]="_selected"
    [ngClass]="{'layer0': z==0, 'layer1': z==1, 'layer2': z==2, 'layer3': z==3, 'layer4': z==4, 'layer5': z>=5}"
    (click)="onClick()"
    [class.free]="isFree && !_selected"
  >
    <div class="tile-content">
      <div class="secondary-character"
        [ngStyle]="{
          'font-size.px': fontSizeSecondary,
          'line-height.px': fontSizeSecondary-5
        }"
      >{{_type.getSecondaryCharacter()}}</div>

      <div class="primary-character-wrap">
        <span class="primary-character"
          [ngStyle]="{
            'font-size.px': fontSizePrimary,
            'line-height.px': fontSizePrimary
          }"
          [innerHTML]="_type.getPrimaryCharacter()"
        ></span>
      </div>
    </div>

    <div *ngIf="debug"> <!-- if tile debug property is set, display debug info -->
      <span *ngIf="type">{{type.group}} {{type.index}}<br/></span>
      <span *ngFor="let adj of tile.adjacentL">LX{{adj.x}}Y{{adj.y}}<br/></span><span *ngFor="let adj of tile.adjacentR">RX{{adj.x}}Y{{adj.y}}<br/></span>
      {{tile.isFree()?"Free":"Locked"}}
    </div>
  </div>
</div>
