.gamefield {
  position: relative;
  border: none; //1px solid black;
  margin: 15px;
  padding: 5px;
}

.tile {
  position: absolute;
  background: green;
  width: 50px;
  height: 80px;
  word-wrap: break-word;
}

.tile.selected {
  background: black;
  color: white;
}

.tile.hidden {
  display: none;
}

.layer0 {
  background: green;
}

.layer1 {
  background: blue;
}

.layer2 {
  background: pink;
}

.layer3 {
  background: yellow;
}

.layer4plus {
  background: green;
}
