.tile-outer {
  position: absolute;
}

.tile.free {
  cursor: pointer;
}

.tile-outer.free:hover, .tile-outer.selected {
  transform: scale(1.1,1.1);
  z-index: 500; /* https://philipwalton.com/articles/what-no-one-told-you-about-z-index/ */
  opacity: .99;
}

.tile-shadow {
  position: absolute;
  border: 1px solid gray;
  background-color: gray;
  border-radius: 10%;
}

.tile-shadow1 {
  top: 0px;
  left: 0px;
}

.tile-shadow2 {
  opacity: .99;
}

.tile {
  overflow: hidden;
  transform-origin: 50% 50%;
  border: 2px solid gray;
  position: absolute;
  border-radius: 10%;
  font-size: 25px;
  cursor: default;
}

.tile-content {
  margin: 5px;
  padding: 0px;
  text-align: left;
}

.tile-content .primary-character-wrap {
  width: 100%;
  text-align: center;
}

.tile-content .primary-character {
  margin: 0;
}

.tile-content .clear {
  clear: both;
}

.tile-content .secondary-character {
}

.tile-outer.hidden {
  display: none;
}

.tile.layer0  {
  background-color: #FEF2C7;
}

.tile.layer1  {
  background-color: #FEAA6E;
}

.tile.layer2 {
  background-color: #FEF2C7;
}

.tile.layer3  {
  background-color: #FEAA6E;
}

.tile.layer4 {
  background-color: #FEF2C7;
}

.tile.layer5 {
  background-color: #FEAA6E;
}

.tile.selected {
  background-color: #BEDDBF;
}
