<div class="tile-field-outer"
[ngStyle]="{
'padding-left.px': paddingLeft,
'padding-right.px': paddingRight,
'padding-top.px': paddingTop,
'padding-bottom.px': paddingBottom
}"
>
  <div class="tile-field"
    *ngIf="tilesReady"
    (click)="onFieldClick()"
    [ngStyle]="{
        'width.px': windowWidth,
        'height.px': windowHeight
      }"
  >

    <tile *ngFor="let tile of tiles"
      (tileClicked)="onTileSelect(tile)"
      [x]=tile.x
      [y]=tile.y
      [z]=tile.z
      [elementPixelWidth] = elementPixelWidth
      [elementPixelHeight] = elementPixelHeight
      [active]=tile.active
      [selected]=tile.selected
      [type]=tile.type
      [isFree]=tile.isFree()
    ></tile>
  </div>
</div>
