.tile-outer {
  position: absolute;
}

.tile.free:hover {
  transform: scale(1.15,1.15);
  z-index: 500; /* https://philipwalton.com/articles/what-no-one-told-you-about-z-index/ */
  opacity: .99;
}

.tile-shadow {
  position: absolute;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: 10%;
}

.tile-shadow1 {
  top: 0px;
  left: 0px;
}

.tile-shadow2 {
  opacity: .99;
}

.tile {
  overflow: hidden;
  transform-origin: 50% 50%;
  border: 2px solid gray;
  position: absolute;
  border-radius: 10%;
  /*background-size: cover;*/
  /*background-position: 5px 0;*/
   /* minus 6 for border */
  font-size: 25px;
  word-wrap: break-word;
}

.tile .secondary-character {
  position: absolute;
  top: 0px;
  left: 5%;
}

.tile .primary-character {
  position: absolute;
  top: 15%;
  left: 5%;
  /*transform-origin: 50% 50%;
  transform: scale(2,2);*/
}

.tile.selected {
  transform: scale(1.15,1.15);
  background-color: black;
  color: white;
}

.tile.hidden {
  display: none;
}

.layer0 .tile {
  background-color: lightgreen;
}

.layer1 .tile {
  background-color: lightblue;
}

.layer2 .tile {
  background-color: lightpink;
}

.layer3 .tile {
  background-color: lightyellow;
}

.layer4 .tile {
  background-color: lightgreen;
}

.layer5 .tile {
  background-color: lightgreen;
}
