.tile-outer {
  position: absolute;
}

.tile.free {
  cursor: pointer;
}

.tile.free:hover {
  transform: scale(1.15,1.15);
  z-index: 500; /* https://philipwalton.com/articles/what-no-one-told-you-about-z-index/ */
  opacity: .99;
}

.tile-shadow {
  position: absolute;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: 10%;
}

.tile-shadow1 {
  top: 0px;
  left: 0px;
}

.tile-shadow2 {
  opacity: .99;
}

.tile {
  overflow: hidden;
  transform-origin: 50% 50%;
  border: 2px solid gray;
  position: absolute;
  border-radius: 10%;
  font-size: 25px;
  cursor: default;
}

.tile.selected {
  background-color: lightgray;
}

.tile-content {
  margin: 5px;
  padding: 0px;
  text-align: left;
}

.tile-content .primary-character-wrap {
  width: 100%;
  text-align: center;
}

.tile-content .primary-character {
  margin: 0;
}

.tile-content .clear {
  clear: both;
}

.tile-content .secondary-character {
}

.tile.hidden {
  display: none;
}

.layer0 .tile {
  background-color: lightgreen;
}

.layer1 .tile {
  background-color: lightblue;
}

.layer2 .tile {
  background-color: lightpink;
}

.layer3 .tile {
  background-color: lightyellow;
}

.layer4 .tile {
  background-color: lightgreen;
}

.layer5 .tile {
  background-color: lightgreen;
}
