@font-face {
  font-family: "FreeSerif";
  src: url("fonts/FreeSerif.ttf");
}

body {
  overflow: hidden; /* disable scrollbars and margins which break the app sizing logic */
  margin: 0px;
}

/* global style that disables text selection */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}
